[Unit]
Description=An application that prevents the activation of both the screensaver and the "sleep" powersaving mode
Documentation=man:caffeine(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/caffeine
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
