[Unit]
Description=A watcher script for sxhkd chords and i3
PartOf=sxhkd.service
After=sxhkd.service

[Service]
Environment=FIFO=%T/sxhkd.fifo
ExecStart=%h/.scripts/sxhkd_watcher.sh $FIFO
RestartSec=2s
Restart=always
Type=simple

[Install]
WantedBy=default.target
