[Unit]
Description=Lightweight GTK+ Clipboard Manager
Documentation=man:clipit(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/clipit
Restart=on-failure

[Install]
WantedBy=default.target
