[Unit]
Description=Fcitx5
Wants=polybar.service
After=polybar.service
After=setxkbmap.service

[Service]
ExecStartPre=sleep 2
ExecStart=fcitx5
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
