[Unit]
Description=X11 background previewer and setter
Documentation=man:nitrogen(1)
After=autorandr.service

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/nitrogen --restore
Type=oneshot
RemainAfterExit=false
KillMode=process

[Install]
WantedBy=default.target
