[Unit]
Description=A fast and easy-to-use tool status bar
Documentation=man:polybar(1)
PartOf=graphical-session.target
Wants=autorandr.service
After=autorandr.service graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/polybar/launch.sh %U %h
Restart=always

[Install]
WantedBy=default.target
