[Unit]
Description=setxkbmap-br
Wants=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/setxkbmap -model pc105 br -option caps:escape
Type=oneshot
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
