[Unit]
Description=SSH key agent
Before=emacs.service

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%h/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -D -a $SSH_AUTH_SOCK

[Install]
WantedBy=default.target
