[Unit]
Description=A watcher script for sxhkd chords and i3
Wants=sxhkd.service
After=sxhkd.service

[Service]
Type=simple
ExecStart=%h/.scripts/sxhkd_watcher.sh %h
Restart=on-failure

[Install]
WantedBy=default.target
