[Unit]
Description=A watcher script for sxhkd chords and i3
BindsTo=sxhkd.service
After=sxhkd.service

[Service]
ExecStart=%h/.scripts/sxhkd_watcher.sh
Restart=on-failure

[Install]
WantedBy=default.target
