[Desktop Entry]
Type=Application
Name=vis
Icon=sonic-visualiser
Exec=termite -e vis
NoDisplay=false
Categories=Audiovideo;X-Gnome-Other;
StartupNotify=false
Terminal=false
